code mark {
    /*
    font-weight: bold;
    background-color: #0f0f0f;
    */
}


.text-hover-image {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75) !important;
}

.align-top {
	position: absolute;
	top: 0 !important;
}

.align-left {
	text-align: left !important;
}

.align-right {
	text-align: right !important;
}
